.imageBannerSection {
    width: 100vw;
    max-height: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.imageBannerSection img {
    width: 100%;
    height: 100%;
    object-position: center;
}

.imageBannerSection .textOverlay {
    position: absolute;
    /* bottom: 50px; */
    left: 5%;
    text-align: left;
    max-width: 600px;
}

.imageBannerSection .textOverlay h2 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 15px;
    
}
.imageBannerSection .textOverlay .info{
    color: var(--primary-color);
}
.imageBannerSection .textOverlay p {
    font-size: 17px;
    margin-bottom: 15px;
    font-weight: 500;
    color: rgb(58, 58, 58);
}

.imageBannerSection .textOverlay .count{
    display: flex;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: 25px 0;
}
.imageBannerSection .textOverlay .count div h3{
    font-size: 2.5rem;
    
    margin-bottom: 5px;

}
.imageBannerSection .textOverlay .count div p{
    font-size: 15px;
}
@media screen and (max-width: 768px) {
    .imageBannerSection {
        max-height: 500px;
    }

    .imageBannerSection img {
        height: 100%;

    }

    .imageBannerSection .textOverlay {
        left: 10px !important;
        width: 100% !important;
    }

    .imageBannerSection .textOverlay h2 {
        font-size: 3rem;
    }

    .imageBannerSection .textOverlay p {
        font-size: 15px;
    }
}